@page "/all-champagnes"
@using ChampagneMaui.Models.Champagne;
@inject IChampagneService champagneService
@inject NavigationManager navManager;

<h3 class="text-center mb-5">List of Champagnes</h3>

@if(champagneList == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Alcohol Level</th>
                    <th scope="col">Bottling Date</th>
                    <th scope="col">Aging</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var (c, i) in champagneList.Select((champagne, index) => (champagne, index)))
                {
                    var row = i + 1;
                    <tr class="custom-cursor tr-hover-color" @onclick="@(() => DisplayOptions(c))">
                        <th scope="row">@row</th>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>@c.AlcoholLevel</td>
                        <td>@c.BottlingDate</td>
                        <td>@c.Aging</td>
                    </tr>                 
                }
            </tbody>
        </table>
    </div>
}

@code {
    #region Properties
    private List<ChampagneResponseModel> champagneList;
    #endregion 

    #region LifeCycle
    protected override async Task OnInitializedAsync()
    {
        champagneList = await champagneService.GetAllChampagnes();
    }
    #endregion

    #region Methods
    private async void DisplayOptions(ChampagneResponseModel champagne)
    {
        var response = await App.Current.MainPage.DisplayActionSheet("Select Option", "OK", null, "Update", "Delete", "Delete Prices and Composition Associated");

        if (response == "Update")
        {
            navManager.NavigateTo($"update-champagne/{champagne.Id}");
        }
        //else if (response == "Delete")
        //{
        //    var deleteResponse = await champagneService.DeleteSize(new DeleteSizeRequestModel
        //        {
        //            Id = size.Id
        //        });

        //    if (deleteResponse.IsSuccess)
        //    {
        //        await OnInitializedAsync();
        //        this.StateHasChanged();
        //    }
        //}
        else if (response == "Delete")
        {
            var deleteResponse = await champagneService.DeleteChampagneIfNoPricesAndCompositions(champagne.Id);

            if (deleteResponse.IsSuccess)
            {
                await App.Current.MainPage.DisplayAlert("Success", deleteResponse.Message, "OK");
                await OnInitializedAsync();
                this.StateHasChanged();
            }
            else
            {
                await App.Current.MainPage.DisplayAlert("Ooops", deleteResponse.Message, "OK");
            }
        }
        else if (response == "Delete Prices and Composition Associated")
        {
            var userChoice = await App.Current.MainPage.DisplayAlert("Delete", "You are about to delete the champagne and any prices and compositions associated. Keep deleting?", "Yes", "No");

            if (userChoice)
            {
                var deleteResponse = await champagneService.DeleteChampagneWithPricesAndCompositions(champagne.Id);
                if (deleteResponse.IsSuccess)
                {
                    await App.Current.MainPage.DisplayAlert("Success", deleteResponse.Message, "OK");
                    await OnInitializedAsync();
                    this.StateHasChanged();
                }
                else
                {
                    await App.Current.MainPage.DisplayAlert("Ooops", deleteResponse.Message, "OK");
                }
            }
        }
    }
    #endregion

}
